{% extends 'my_admin/base_admin.html' %}

{% block content %}

<h1>Admin</h1>

<a href="{% url 'home' %}">
    <button class="btn btn-secondary">
        Back to site
    </button>
</a>

<br>

<h3>Users</h3>
<p>
    {% for user in users %}
        <a href="{% url 'my_admin:user-read' user.username %}">{{ user.username }}</a>
        <br>
    {% endfor %}
</p>

<a href="{% url 'my_admin:user-create'%}">
    <button class="btn btn-danger">
        Add user
    </button>
</a>

<br>
<br>

<h6>Staff users:</h6>
<ul>
    {% for user in staff %}
        <li>{{ user.username }}</li>
    {% endfor %}
</ul>

<h6>Non staff users:</h6>
<ul>
    {% for user in non_staff %}
        <li>{{ user.username }}</li>
    {% endfor %}
</ul>

{% endblock %}
