{% extends 'my_admin/base_admin.html' %}

{% block content %}

<h1>Admin</h1>

<a href="{% url 'home' %}">Back to site</a>

<h3>Users</h3>
<ul>
    {% for user in users %}
        <li>
            <a href="{% url 'my_admin:user-read' user.username %}">{{ user.username }}</a>
        </li>
    {% endfor %}
</ul>

<a href="{% url 'my_admin:user-create'%}">
    <button class="btn btn-danger">
        Add user
    </button>
</a>

<br>
<br>

<h6>Staff users:</h6>
<ul>
    {% for i in staff %}
        <li>{{ i.username }}</li>
    {% endfor %}
</ul>

<h6>Non staff users:</h6>
<ul>
    {% for i in non_staff %}
        <li>{{ i.username }}</li>
    {% endfor %}
</ul>

{% endblock %}
