
h1 {
    color: red;
}

a {
  text-decoration: none
}

img {
  max-width: 100%;
  height: auto;
}

.product_thumbnail {
  width: 100px;
}

.date p {
  opacity: 0.3;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li a {
  color: #000;
  padding: 8px 16px;
}

.navbar li a:hover {
  color: gray;
}