<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if title %}
            {{ title|title }}
        {% else %}
            Geek_Brains
        {% endif %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include "navbar.html" %}
    <p class="date">date: {% now "jS F Y H:i" %}</p>
    {% block content %}
    {% endblock %}
</body>
</html>
