<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contacts' %}">Contacts</a></li>
        <li><a href="{% url 'products:products-list' 'all' %}">Products</a></li>
        <div class="relative">
            <li>
                <a href="{% url 'shopping_cart:items-in-cart' %}">
                    Cart
                </a>
                <div class="cart_badge absolute">
                    {% if total_quantity != 0 %}
                        <span>
                            {{ total_quantity }}
                        </span>
                    {% endif %}
                </div>
            </li>
        </div>

        {% if user.is_staff %}
        <div class="admin">
            <li>
                <a href="{% url 'my_admin:home' %}">Admin</a>
            </li>
        </div>

        {% endif %}
    </ul>
</nav>