{% extends 'base.html' %}

{% block content %}
    <h1>Products</h1>
    <h3>Categories:</h3>
        <ul>
            <li><a href="{% url 'products:products-list' all_products %}">All</a></li>
            {% for category in categories %}
            <li>
                <a href="{% url 'products:products-list' category %}">{{ category|title }}</a>
            </li>
            {% endfor %}
        </ul>


    <h3>Products:</h3>

    {% for product in products %}
        <p>
            <a href="{{ product.get_absolute_url }}">
                {{ product.title }}
            </a>
            $ {{ product.price }}
        </p>




        {% if user.is_authenticated %}
            <a href="{% url 'shopping_cart:add_to_cart' product.id %}">
                <button class="btn btn-warning">Add to cart</button>
            </a>

            <br>
            <br>

        {% endif %}



    {% endfor %}

    <!--Pagination:-->
    <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ products.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ products.number }} of {{ products.paginator.num_pages }}.
            </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">next</a>
                <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}