{% extends 'base.html' %}

{% block content %}
    <h1>Products</h1>
    <h3>Categories:</h3>
        <ul>
            <li><a href="{% url 'products:products-list' all_products %}">All</a></li>
            {% for category in categories %}
            <li>
                <a href="{% url 'products:products-list' category %}">{{ category }}</a>
            </li>
            {% endfor %}
        </ul>


    <h3>Products:</h3>
    <ul>
        {% for product in products %}
            <li>
                <a href="{{ product.get_absolute_url }}">
                    {{ product.title }}
                </a>

                <button>
                    <a href="{% url 'shopping_cart:add_to_cart' product.id %}">
                        Buy
                    </a>
                </button>

            </li>
        {% endfor %}
    </ul>
{% endblock %}